<h1>Your Shopping Cart</h1>
{% if error %} <p style="color:red;">{{ error }}</p> {% endif %}

{% if order and order.orderitem_set.all %}
    <ul>
    {% for item in order.orderitem_set.all %}
        <li>{{ item.game.title }} - ${{ item.price }}</li>
    {% endfor %}
    </ul>
    <h3>Total: ${{ order.total_price }}</h3>

    <form action="/orders/checkout/" method="post">
        {% csrf_token %}
        <button type="submit">Buy Now</button>
    </form>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}